<div class="container mt-4">
  <div class="col-lg-7 mx-auto" id="contenedor-datos">
    <form [formGroup]="logoForm" (ngSubmit)="guardarLogos()">
      <div class="card text-center">
        <div class="card-header">Datos a Guardar</div>
        <div class="card-body">
          <div class="custom-file mb-3">
            <label for="floatingNombre">Seleccione un logo</label>
            <br>
            <input type="file" class="custom-file-input" id="customFile" accept=".jpg, .jpeg, .png" (change)="obtenerImagen($event)" formControlName="url">
          </div>
          <div class="mb-3">
            <select class="form-select" aria-label="Default select example" formControlName="tipo">
              <option selected>Tipo de logo</option>
              <option value="Torzo">Torzo</option>
              <option value="Hombro">Hombro</option>
              <option value="Espalda">Espalda</option>
            </select>
          </div>
        </div>
        <br>
        <div class="card-footer text-muted d-flex justify-content-between">
          <button class="btn btn-outline-success" [disabled]="logoForm.invalid">
            <i class="bi bi-floppy-fill"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
  <br>
  <div class="table-container">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Imagen</th>
          <th scope="col">Tipo</th>
          <th scope="col">Url</th>
          <!-- <th scope="col">Opciones</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let logo of logos">
          <img style="max-width: 100px; max-height: 100px;" src="{{logo.url}}" />
          <td>{{logo.tipo}}</td>
          <td>{{logo.url}}</td>
          <!-- <td><button type="button" class="btn btn-danger">Eliminar</button></td> -->
        </tr>
      </tbody>
    </table>
  </div>
  
</div>