h1 {
    font-family: 'Vina Sans', sans-serif;
    text-transform: uppercase;
    font-size: 3em;
    letter-spacing: 5px;
    color: #333; /* Choose your desired text color */
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); /* Adjust the shadow properties */
}

@media screen and (max-width: 768px) {
    h1{
        font-size: 1.5em;
    }

    .card{
        width: 100%;
    }
}

.fondo {
    background-color: #dbdbc4 ;
    color:  black;
    font-weight: bold !important;
    box-shadow: 3px 3px 4px 3px rgb(54, 54, 54);
}

.card{
    min-width: 22em;
    min-height: 30rem;
    max-height: 30rem;
    font-size: 0.85em;
}

.input-exist{
    max-width: 4rem;
    background-color: #dbdbc4;
    border: none;
    outline: none;
}

.lbl-stock{
    font-weight: bold !important;
}

select, option{
    font-weight: bold !important;
}

option {
    background-color: #e9e9b2;
}

img {    
    width: 18rem;
    height: 15rem;
}

.img-termo {
    width: 8.5rem !important;
    height: 15rem !important;
}

.mi {
    color: black;
}

.nd {
    color: lightgreen;
}

.card.fondo {
    position: relative; /* Asegura que el position absolute en el pseudo-elemento funcione correctamente */
  }
  
  .card.fondo::before {
    content: attr(titulo);
    position: absolute;
    top: 11%;
    left: 0;
    right: 0;
    bottom: 38%;
    transform: -50%;
    background-color: rgba(0, 0, 0);
    color: #fbfffbfe; /* Color del texto */
    font-size: 18px;
    font-family: 'Arial', sans-serif  0.5px solid;
    padding: 10px;
    z-index: 1;
    display: none;
    font-size: 15px;
    letter-spacing: 1px;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); /* Adjust the shadow properties */
  }
  

.card.fondo:hover::before {
  display: block; /* Muestra el tooltip al pasar el ratón sobre la tarjeta */
}

