<div class="row flex-wrap">
    <div class="col-sm-2 mb-3" *ngFor="let elemento of elementos">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">CAMISA DE ALGODON</h5>
          <p class="card-text">Precio: <label for="">22.6</label></p>
          <p class="card-text">Talla: <label for="">M</label></p>
          <p class="card-text">Color: <label for="">Blanco</label></p>
          <p class="card-text">Tipo de tela:<label for="">Algodon</label></p>
          <a href="/Tienda" class="btn btn-primary" style="margin-top: 1rem;">Ver Detalles</a>
        </div>
      </div>
    </div>
  </div> 
  
  