<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/Menu"><img class="icon" src="../../assets/img/logo.png" alt="Logo MIND"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/Menu">Inicio</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Opciones
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/Tienda">Nueva camisa 3D</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/Logos">Nuevo logo</a></li>                
            </ul>
          </li>            
          <li class="nav-item">
            <a class="nav-link" href="/acerca">Acerca de</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contacto">Contacto</a>
          </li>
        </ul>
        <form class="d-flex">
          <label class="form-control">tiendamind@gmail.com</label>
          <button class="btn btn-outline-danger ml-1" type="button">
            <i class="bi bi-box-arrow-left"></i>
          </button>
        </form>
      </div>
    </div>
  </nav>
