#colores {
  display: flex;
  justify-content: center;
  align-items: center;

}

h2{
  font-family: 'Vina Sans', sans-serif;
}

#camisa {
  padding: 8px;
}

#contendor-camisa {
  background-color: #dbdbc4;
  box-shadow: 3px 3px 5px 3px rgb(54, 54, 54);
}

.circular-button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  /* Animación de expansión */
  border: 2px solid rgb(2, 2, 2);
  /* Borde inicialmente transparente */
}

.gray {
  background-color: white;
}

.yellow {
  background-color: rgb(239, 189, 78);
}

.green {
  background-color: rgb(128, 198, 112);
}

.blueviolet {
  background-color: rgb(114, 109, 232);
}

.red {
  background-color: rgb(239, 103, 78);
}

.black {
  background-color: rgb(53, 57, 52);
}

/* Estilos adicionales al pasar el ratón sobre los botones */
.circular-button:hover {
  border-color: #fff;
  /* Cambia el color del borde al pasar el ratón sobre el botón */
}

/* Estilos adicionales al presionar el botón */
.circular-button:active {
  transform: scale(1.2);
  /* Hace que el botón se expanda al ser presionado */
}

.card {
  background-color: #dbdbc4 ;
  box-shadow: 3px 3px 5px 3px rgb(54, 54, 54);
}

input, select {
  background-color: #e9e9b2;
}

option {
  background-color: #F5F5DC;
}

.input-width {
  width: 95%;
}

@media screen and (max-width: 768px) {
  #contendor-camisa {
    margin-bottom: 2rem;
  }

  #contenedor-datos {
    margin-bottom: 2rem;
  }
}

#floatingDescrip{
  width: 97.5%;
}