<div class="container mt-5">
    <h2 class="mb-4"><b>Contacto</b></h2>

    <div class="row">
      <div class="col-md-6">
        <p>¡Nos encantaría saber de ti! Contacta con nosotros mediante el siguiente formulario o la información de contacto proporcionada.</p>
        <p><strong>Dirección:</strong> 123 Calle Principal, Ciudad</p>
        <p><strong>Email:</strong> Tienda.virtual@MIND.com</p>
        <p><strong>Teléfono:</strong> +(503) 2301-1454</p>
        <p><strong>WhatsApp:</strong> 7810-6607 (Asistencia personalizada y pedidos de artículos)</p>
    
      </div>
      <div class="col-md-6 mb-4">
        <form>
          <div class="mb-3">
            <label for="nombre" class="form-label"><b>Nombre</b></label>
            <input type="text" class="form-control" id="nombre" placeholder="Ingresa tu nombre">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label"><b>Email</b></label>
            <input type="email" class="form-control" id="email" placeholder="Ingresa tu email">
          </div>
          <div class="mb-3">
            <label for="mensaje" class="form-label"><b>Mensaje</b></label>
            <textarea class="form-control" id="mensaje" rows="4" placeholder="Ingresa tu mensaje"></textarea>
          </div>
          <button type="submit" class="btn btn-primary"><b>Enviar Mensaje</b></button>
        </form>
      </div>
    </div>
  </div>