<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-lg-5">
      <div class="container mt-5">
        <div class="row">
          <div class="section mb-4">
            <h2 class="section-title text-center"><b>Misión</b></h2>
            <p class="section-content">
              Empoderamos la creatividad al convertir tus diseños en productos únicos con
              sublimación en línea, inspirando conexiones auténticas a través del arte
              personalizado.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="section mb-4">
            <h2 class="section-title text-center"><b>Visión</b></h2>
            <p class="section-content">
              Convertirse en la plataforma número uno a nivel nacional e internacional
              dedicada a la sublimación en línea.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-7">
      <div class="section">
        <div class="row">
          <h2 class="text-center"><b>Valores</b></h2>
          <br>
          <div class="col-lg-6">
            <div class="container mt-5">
              <div class="section mb-4">
                <div class="accordion" id="accordionExample">
                  <div class="accordion-item">
                    <h3 class="accordion-header">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <b>Honestidad</b>
                      </button>
                    </h3>
                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <p>
                          Actuar de manera correcta para cumplir con la empresa, los compañeros y mi
                          familia; somos transparentes, hablamos con la verdad y decimos las cosas de
                          forma clara y a tiempo.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h3 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <b>Responsabilidad</b>
                      </button>
                    </h3>
                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <p>
                          Nos comprometemos a cumplir con nuestras obligaciones y expectativas de
                          manera oportuna, anticipando y asumiendo las consecuencias de nuestras
                          elecciones. Somos responsables y nos ajustamos a los procedimientos
                          establecidos para lograr nuestros objetivos compartidos.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h3 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <b>Compromiso</b>
                      </button>
                    </h3>
                    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <p>
                          Nos preparamos de manera exhaustiva para ofrecer lo mejor de nosotros
                          mismos, canalizando todo nuestro entusiasmo y potencial con el fin de
                          superar las expectativas y alcanzar nuestros objetivos.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h3 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <b>Servicio</b>
                      </button>
                    </h3>
                    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <p>
                          En nuestra empresa, adoptamos una mentalidad proactiva e innovadora para
                          ofrecer un servicio de primera calidad de manera eficiente. Nos
                          especializamos en adaptarnos a las necesidades individuales de nuestros
                          clientes, garantizando que cumplimos con todos sus requerimientos y
                          exigencias.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="container mt-5">
              <div class="section mb-4">
                <div class="accordion" id="accordionExample2">
                  <div class="accordion-item">
                    <h3 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        <b>Trabajo en equipo</b>
                      </button>
                    </h3>
                    <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample2">
                      <div class="accordion-body">
                        <p>
                          La empresa está comprometida con brindar el mejor servicio de calidad para
                          ello nos apoyamos entre todos, integrando y coordinando el cumplimiento de
                          los objetivos de la organización, compartimos información que nos permita
                          tomar decisiones que lleven al éxito a la empresa.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h3 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        <b>Respeto</b>
                      </button>
                    </h3>
                    <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample2">
                      <div class="accordion-body">
                        <p>
                          Fomentamos una cultura de respeto empresarial que prioriza el respeto mutuo
                          y la consideración en todas las interacciones, lo que permite crear un
                          ambiente de confianza, lealtad y colaboración tanto con los clientes como
                          con los colaboradores, fortaleciendo la reputación y el éxito a largo plazo
                          de la empresa.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h3 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        <b>Excelencia</b>
                      </button>
                    </h3>
                    <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample2">
                      <div class="accordion-body">
                        <p>
                          Conjunto de acciones excepcionales en la gestión de una empresa, orientadas
                          hacia la consecución de los resultados previamente establecidos como metas y
                          objetivos.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h3 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                        <b>Innovación</b>
                      </button>
                    </h3>
                    <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample2">
                      <div class="accordion-body">
                        <p>
                          Implementación de nuevas ideas, métodos, servicios o productos dentro de una
                          organización con el propósito de optimizar sus procesos corporativos y
                          fomentar la retención de clientes, asegurando que elijan de manera continua
                          los servicios que ofrecemos.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>