<div class="container mt-5">

  <div class="container mt-5">
    <div class="section mb-4">
      <h1 class="section-title"><b>Misión</b></h1>
      <p class="section-content">
        Empoderamos la creatividad al convertir tus diseños en productos únicos con
        sublimación en línea, inspirando conexiones auténticas a través del arte
        personalizado.
      </p>
    </div>
  </div>

  <div class="container mt-5">
    <div class="section mb-4">
      <h1 class="section-title"><b>Visión</b></h1>
      <p class="section-content">
        Convertirse en la plataforma número uno a nivel nacional e internacional
      dedicada a la sublimación en línea.
      </p>
    </div>
  </div>


  <div class="container mt-5">
    <div class="section mb-4">
      <h1 class="section-title"><b>Valores</b></h1>
      <br>
      <p class="section-content">
        <li class="mb-3"><b>Honestidad</b>
          <p>
            Actuar de manera correcta para cumplir con la empresa, los compañeros y mi
            familia; somos transparentes, hablamos con la verdad y decimos las cosas de
            forma clara y a tiempo.
          </p>
        </li>
  
        <li class="mb-3"><b>Responsabilidad</b>
          <p>
            Nos comprometemos a cumplir con nuestras obligaciones y expectativas de
            manera oportuna, anticipando y asumiendo las consecuencias de nuestras
            elecciones. Somos responsables y nos ajustamos a los procedimientos
            establecidos para lograr nuestros objetivos compartidos.
          </p>
        </li>
  
        <li class="mb-3"><b>Compromiso</b>
          <p>
            Nos preparamos de manera exhaustiva para ofrecer lo mejor de nosotros
            mismos, canalizando todo nuestro entusiasmo y potencial con el fin de
            superar las expectativas y alcanzar nuestros objetivos.
          </p>
        </li>
  
        <li class="mb-3"><b>Servicio</b>
          <p>
            En nuestra empresa, adoptamos una mentalidad proactiva e innovadora para
            ofrecer un servicio de primera calidad de manera eficiente. Nos
            especializamos en adaptarnos a las necesidades individuales de nuestros
            clientes, garantizando que cumplimos con todos sus requerimientos y
            exigencias.
          </p>
        </li>
  
        <li class="mb-3"><b>Trabajo en equipo</b>
          <p>
            La empresa está comprometida con brindar el mejor servicio de calidad para
            ello nos apoyamos entre todos, integrando y coordinando el cumplimiento de
            los objetivos de la organización, compartimos información que nos permita
            tomar decisiones que lleven al éxito a la empresa.
          </p>
        </li>
  
        <li class="mb-3"><b>Respeto</b>
          <p>
            Fomentamos una cultura de respeto empresarial que prioriza el respeto mutuo
            y la consideración en todas las interacciones, lo que permite crear un
            ambiente de confianza, lealtad y colaboración tanto con los clientes como
            con los colaboradores, fortaleciendo la reputación y el éxito a largo plazo
            de la empresa.
          </p>
        </li>
  
        <li class="mb-3"><b>Excelencia</b>
          <p>
            Conjunto de acciones excepcionales en la gestión de una empresa, orientadas
            hacia la consecución de los resultados previamente establecidos como metas y
            objetivos.
          </p>
        </li>
  
        <li class="mb-3"><b>Innovación</b>
          <p>
            Implementación de nuevas ideas, métodos, servicios o productos dentro de una
            organización con el propósito de optimizar sus procesos corporativos y
            fomentar la retención de clientes, asegurando que elijan de manera continua
            los servicios que ofrecemos.
          </p>
        </li>
      </p>
    </div>
  </div>
</div>
